:root {
    color-scheme: light dark;
}
body {
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    
    height: 100%;
    margin: 20px;
    background: linear-gradient(135deg, #470641 0%, #2c035d 100%);
    background-color: light-dark(#f4f4f4, #261d3b);
    /* background: linear-gradient(135deg, #667eea35 0%, #764ba23f 100%); */
    color: light-dark(#333, #eee);
    /* background-image: url('../images/bg4.png'); */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    /* background-position: center; */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: -1;
    overflow: hidden;
}

h1, h2, h3 {
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.02em;

    background: linear-gradient(to right, #ff69b4, #8e44ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

a,
a:visited {
    color: light-dark(#0056b3, #8ecaff);
}

a:hover,
a:focus {
    color: light-dark(#003366, #b3e0ff);
    text-decoration: underline;
}

a:active {
    color: light-dark(#002244, #ccecff);
}

* {
    box-sizing: border-box;
}

header,
footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    font-weight: 300;
    /* background: light-dark(#ffffffce, #1e1e1e88); */
    border-radius: 8px;
}

section {
    padding: 20px;
    background: light-dark(#ffffff46, #1e1e1e29);
    border: 1px solid light-dark(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
    /* backdrop-filter: blur(2px); */
    border-radius: 8px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}



main {
    max-width: 960px;
    margin: 0 auto;
}

header {
    margin-bottom: 20px;
}

/* header > div:nth-child(1) {
    text-align: center;
} */

h1,
h2 {
    color: light-dark(#333, #eee);
    margin-top:0;
}

a {
    color: light-dark(#007BFF, #66b3ff);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



#tags .keyword {
    background: light-dark(#e8f4f8, #2a3f47);
    padding: 3px 14px;
    border-radius: 12px;
    font-size: 0.9em;
    opacity: 0.8;
    display: inline-block;
    margin:2px;
}

figure .illustration {
    width:100%;
    border-radius: 10px;
    overflow: hidden;
}

pre {
    border-radius: 10px;
    overflow: hidden;
}

.multi-link {
    margin-top:10px;
    font-style: italic;
    opacity:0.8;
}


.grid-container-2,
.grid-container-3,
.grid-container-4 {
    display: grid;
    gap: 20px;
}

.grid-container-2 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-container-3 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-container-4 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
    /* background: light-dark(#f9f9f9, #2c2c2c93); */

    background: linear-gradient(to bottom, light-dark(#ffffff66, #ffffff00), light-dark(#ffffffaa, #ffffff14));
    /* background: light-dark(#ffffff46, #88888829); */
    /* border: 1px solid light-dark(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1)); */

    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.grid-item img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 0.9em;
    color: light-dark(#555, #ccc);
}

.quote {
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    color: light-dark(#555, #ccc);
}

/*
ul {
    list-style: none; */
    /* padding: 0;
}
ul li {
    margin-bottom: 10px;
}
*/

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 0.9em;
}
